@charset "utf-8";

/* css Reset */
article, aside, hgroup, header, footer, figure, figcaption, nav, section,time, mark, canvas, video, audio, details, summary{display:block}

body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,select,button,code,label, em, span {
margin:0;padding:0;vertical-align:top;font-family:돋움,Dotum, verdana,sans-serif;color:#6d6d6d;font-size:12px; word-break:break-all;}

form{display:inline;margin:none}
img,fieldset{border:0}
hr{display:none}
li{list-style:none}
em,address{font-style:normal}
label,input,select,textarea{vertical-align:middle;}
legend{position:absolute;left:-5000px;font-size:0}
caption{position:relative;left:-5000px;height:0;line-height:0;text-indent:-5000px}
a:link,a:active,a:visited,a{text-decoration:none;color:inherit}
a:hover{text-decoration:none;color:#333}

input[type=text],input[type=password],input[type=email],input[type=number],input[type=search]{height:19px;line-height:19px;text-align:left;border:1px solid #d5d5d5}
input[type=file]{height:19px;line-height:19px;border:1px solid #d5d5d5;text-align:left;}
input[type=radio],input[type=check]{width:15px;height:15px;margin-left:4px}
textarea{padding:10px 2%;width:95.8%;border:1px solid #d5d5d5;resize:none}
select{height:22px;border:1px solid #d5d5d5;text-align:left;background:url(../../images/bg_select.gif) repeat-x 0 0;}
select option{text-align:left;}

.invisible{position:absolute;left:-5000px;height:0;line-height:0}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}

@font-face{
	font-family:'normal';
	src:url('../font/NanumGothic.eot'); 
	src:local('※'), url('../common/font/NanumGothic.woff') format('woff'), url('../../common/font/NanumGothic.ttf') format('truetype');
}

@font-face{
	font-family:'strong';
	src:url('../font/Daum_Regular.eot'); 
	src:local('※'), url('../common/font/Daum_Regular.woff') format('woff'), url('../../common/font/Daum_Regular.ttf') format('truetype');
}



/*설문조사 사용자*/
.contents section { padding:0 0 20px 0; }
.contents h3{height:38px;line-height:37px;padding-left:15px;text-align:left;color:#595959;border:1px solid #b2b2b2;border-top-left-radius:3px;border-top-right-radius:3px;background:url(../../images/bg_tit.gif) repeat-x 0 0;}
.pop_contents h3{height:38px;line-height:37px;padding-left:15px;text-align:left;color:#595959;border:1px solid #b2b2b2;border-top-left-radius:3px;border-top-right-radius:3px;background:url(../../images/bg_tit.gif) repeat-x 0 0;}


/*.dsf { float:left; font-weight:bold:}*/

.data_tableW02,.data02_tableW,.data_tableH,.data02_tableH,.data03_tableH{width:100%;border-collapse:collapse;}
.data_tableW02 th{height:38px;padding:2px; padding-left:20px;text-align:left;vertical-align:middle;background:#f9f9f9;color:#6d6d6d;border-left:1px solid #cdcdcd;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;}
.data_tableW02 tbody td,.data_tableW tfoot td,.data_tableW tfoot th{height:38px;padding:2px 15px;line-height:16px;text-align:left;vertical-align:middle;border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;background:#fcfdfd;}
.data_tableW02 tr{border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;}
.data_tableW02 tr:first-child th{border-top:0;}
.data_tableW02 tfoot th,.data_tableW tfoot td, .data_tableW .total td{border-top:1px solid #cdcdcd ! important;font-weight:bold;color:#737373;background:#f3f8fc ! important;}
.data_tableW02 .cell_type{text-align:center;}
.data_tableW02 .cell_type02{background:#fed1c8 ! important;}
.data_tableW02 .cell_type03{border-left:1px solid #cdcdcd;}
.data_tableW02 .sub_tit{font-weight:bold;text-align:center;background:#f3f8fc ! important;}

.data_tableW04,.data02_tableW,.data_tableH,.data02_tableH,.data03_tableH{width:100%;border-collapse:collapse;}
.data_tableW04 th{height:38px;padding:2px; text-align:center;vertical-align:middle;background:#f9f9f9;color:#6d6d6d;border-left:1px solid #cdcdcd;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;}
.data_tableW04 tbody td,.data_tableW tfoot td,.data_tableW tfoot th{height:38px;padding:2px 15px;line-height:16px;text-align:left;vertical-align:middle;border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;background:#fcfdfd;}
.data_tableW04 tr{border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-top:1px solid #cdcdcd;}
.data_tableW04 tfoot th,.data_tableW tfoot td, .data_tableW .total td{border-top:1px solid #cdcdcd ! important;font-weight:bold;color:#737373;background:#f3f8fc ! important;}
.data_tableW04 .cell_type{text-align:center;}
.data_tableW04 .cell_type01{text-align:left; padding:0 15px;}


.bg_vd02 { width:100%;min-height:910px;background:#eee;}
.bgvd_txt {margin:20px 18px; padding-top:20px; font-size:14px; font-weight:bold;}
.bgvd_txt01 {margin:10px 0; font-size:14px; font-weight:bold;}
.bgvd_txt:first-child {margin-top:0px;}
.width_pa { width:96%; margin-left:15px; }
.box_1 { width:93.4%; margin-left:15px; }
.h3_height { margin:15px 0; }

.height_line { margin:0 0 30px 0 }


.graph01 img { width:75%; height:20px; background:#b2b2b2;}
.graph02 img { width:25%; height:20px; background:#b2b2b2;}
.graph03 img { width:26%; height:20px; background:#b2b2b2;}

.answer {}
.answer span { font-weight:bold; float:left; }
.answer .response{margin:10px;}

.mouse_full02 { padding:0 10px; width:96%; height:120px; overflow:auto; border:1px solid #e5e5e5; margin:0px 0 0 0; scrollbar-arrow-color: #000; scrollbar-3dlight-color: #d9d9d9; scrollbar-darkshadow-color: #d9d9d9; scrollbar-face-color: #d9d9d9; scrollbar-highlight-color: #d9d9d9; scrollbar-shadow-color: #d9d9d9; scrollbar-track-color: #f2f2f2;}
.mouse_full02 ul li{ position:relative; padding:0 0 0 40px; text-align:justify; line-height:16px; color:#444;}

.pd_height { margin:10px 0 0 0; }
.pd_height02 { margin-bottom:10px; }
.pd_height03 { margin:10px 0; }
.pd_height04 { padding:10px 0; margin-bottom:10px }


/*popup*/
.user_pop_container{position:relative;padding:20px;background:#ce400e;}
.pop_contents{padding:15px;background:#fff;}
.user_pop_container h1{padding-bottom:10px;font-size:15px;color:#fff;}
.user_pop_container .pop_search,.user_pop_container .pop_coment{padding:5px 0 5px 5px;text-align:right;font-weight:bold;color:#3f3f3f;}
.user_pop_container .pop_search input[type=text]{width:300px;margin-left:6px;}
.user_pop_container .pop_search label{font-weight:bold;}
.user_pop_container .pop_search .btn_type01{margin-right:-6px;}
.user_pop_container .space{margin-top:15px;}

.user_pop_container h2{height:24px;line-height:24px;margin-bottom:-1px;text-indent:20px;border:1px solid #c4c4c4;background:url(../../images/tit_pop.gif) repeat-x 0 0;}

.pop_group { float:left; }

.scroll{ width:100%; height:320px; overflow:auto; border:1px solid #e5e5e5; margin:0px 0 0 0; scrollbar-arrow-color: #000; scrollbar-3dlight-color: #d9d9d9; scrollbar-darkshadow-color: #d9d9d9; scrollbar-face-color: #d9d9d9; scrollbar-highlight-color: #d9d9d9; scrollbar-shadow-color: #d9d9d9; scrollbar-track-color: #f2f2f2;}
.scroll02{ width:100%; height:100px; overflow:auto; border:1px solid #e5e5e5; margin:0px 0 0 0; scrollbar-arrow-color: #000; scrollbar-3dlight-color: #d9d9d9; scrollbar-darkshadow-color: #d9d9d9; scrollbar-face-color: #d9d9d9; scrollbar-highlight-color: #d9d9d9; scrollbar-shadow-color: #d9d9d9; scrollbar-track-color: #f2f2f2;}

.btn_block02{position:relative;margin-top:10px;text-align:center;}


.option_group02 select { width:100%; min-height:240px; background:none; }
.option_group02 select option { margin:5px 0; }


.h4_tit01 {font-size:14px;text-align:center;margin:18px 0px 24px 0;}
.pop_introduce {line-height:20px;}

.pop_height{margin:15px 0;}

.bg_h3 {height:38px; border:1px solid #cdcdcd; background:#fcfdfd; text-align:center; line-height:38px;}
.pop_height01{margin:20px 0;}
.pop_height01 span{font-weight:bold;}
.pop_height01 li {margin:8px 12px;} 
.pop_width01 { margin:8px 0 16px 12px ;}

.pop_txt { text-align:center; padding-bottom:10px; font-weight:bold; }

.pop_pd {margin:10px 0; padding-left:6px; font-weight:bold;}
.checck_pd { padding-left:6px; }


.pop_tableW{width:100%;border-collapse:collapse;}
.pop_tableW th{height:38px;padding:2px; text-align:center;vertical-align:middle;background:#f9f9f9;color:#6d6d6d;border-left:1px solid #cdcdcd;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;}
.pop_tableW tbody td,.data_tableW tfoot td,.data_tableW tfoot th{height:38px;padding:2px 0;line-height:16px;text-align:center;vertical-align:middle;border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;background:#fcfdfd;}
.pop_tableW tr{border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-top:1px solid #cdcdcd}
.pop_tableW tr:first-child th{border-top:0;}
.pop_tableW tfoot th,.data_tableW tfoot td, .data_tableW .total td{border-top:1px solid #cdcdcd ! important;font-weight:bold;color:#737373;background:#f3f8fc ! important;}

.pop_tableW02{width:100%;border-collapse:collapse;}
.pop_tableW02 th{height:38px;padding:2px; text-align:center;vertical-align:middle;background:#f9f9f9;color:#6d6d6d;border-left:1px solid #cdcdcd;border-top:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;}
.pop_tableW02 tbody td,.data_tableW tfoot td,.data_tableW tfoot th{height:38px;padding:2px 0;line-height:16px;text-align:center;vertical-align:middle;border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-bottom:1px solid #cdcdcd;background:#fcfdfd;}
.pop_tableW02 tr{border-left:1px solid #cdcdcd;border-right:1px solid #cdcdcd;border-top:1px solid #cdcdcd}
.pop_tableW02 tr:first-child th{border-top:0;}
.pop_tableW02 tfoot th,.data_tableW tfoot td, .data_tableW .total td{border-top:1px solid #cdcdcd ! important;font-weight:bold;color:#737373;background:#f3f8fc ! important;}

.data_tableW02 .cell_type05:first-child {border-top:1px solid #cdcdcd; text-align:center;}



